block variables
  - const title = "Page"

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/styles/pico.min.css")
    title #{title} | Short URL
  body
    main.container
      block content